FTN_EMAIL=you@example.com
FTN_PASSWORD=yourpassword
DRAFTSHARKS_EMAIL=you@example.com
DRAFTSHARKS_PASSWORD=yourpassword
FANTASYDATA_EMAIL=you@example.com
FANTASYDATA_PASSWORD=yourpassword
FOR4FOR4_EMAIL=you@example.com
FOR4FOR4_PASSWORD=yourpassword
FANTASYLIFE_EMAIL=you@example.com
FANTASYLIFE_PASSWORD=yourpassword
